@charset "UTF-8";
@font-face {
  font-family: gilroy_c;
  src: url(../fonts/gilroy/Gilroy-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: gilroy_c;
  src: url(../fonts/gilroy/Gilroy-Extrabold.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: gilroy_c;
  src: url(../fonts/gilroy/Gilroy-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: gilroy_c;
  src: url(../fonts/gilroy/Gilroy-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: gilroy_c;
  src: url(../fonts/gilroy/Gilroy-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: gilroy_c;
  src: url(../fonts/gilroy/Gilroy-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
}
@keyframes slideCart {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1600px);
    opacity: 0;
  }
}
@keyframes slideCartReverse {
  0% {
    transform: translateX(-1600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideCheckout {
  0% {
    transform: translateX(1600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideCheckoutReverse {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(1600px);
    opacity: 0;
  }
}
@keyframes formOpen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes formOpenReverse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: gilroy_c, sans-serif;
  color: #fff;
  overflow: auto;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
}

.main {
  flex-grow: 1;
}

button {
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 636px);
  padding-right: calc(50% - 636px);
}

.header__swiper {
  margin-top: 24px;
  height: 484px;
  position: relative;
}
.header__swiper::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(33, 31, 32) 0%, rgba(33, 31, 32, 0.7) 50%, rgba(68, 64, 63, 0) 100%);
  z-index: 1;
}
.header__swiper-heading {
  position: absolute;
  z-index: 2;
  max-width: 613px;
  top: 25%;
  left: 94px;
  transform: rotate(-8.37deg);
}
.header__swiper-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.header__swiper-title_shadow {
  font-size: 45px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 5px;
  left: -6px;
}
.header__swiper-question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__swiper-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  position: relative;
  max-width: 280px;
  margin: 33px auto 0;
}
.header__swiper-text::before {
  display: block;
  content: "";
  width: 280px;
  height: 35px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  position: absolute;
  top: -2px;
  z-index: -1;
  transform: skew(-12deg);
}
.header__swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
.nav__search {
  position: relative;
}
.nav__search-point {
  position: absolute;
  left: 18px;
  top: 16px;
}
.nav__search-search {
  position: absolute;
  right: 18px;
  top: 16px;
}
.nav__search-input {
  width: 555px;
  height: 52px;
  background-color: #504B4A;
  border-style: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 48px;
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.nav__search-input::-moz-placeholder {
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #cfcfcf;
}
.nav__search-input::placeholder {
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #cfcfcf;
}
.nav__search-input:focus {
  border-radius: 10px 10px 0px 0px;
}
.nav__contacts {
  display: flex;
  align-items: center;
}
.nav__contacts-img {
  width: 32px;
  height: 32px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__contacts-info {
  margin-left: 10px;
}
.nav__contacts-text {
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #cfcfcf;
}
.nav__contacts-number {
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.nav__cart {
  width: 150px;
  height: 52px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.3s;
}
.nav__cart:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.nav__cart:active {
  position: relative;
  top: 1px;
}
.nav__cart-text {
  font-family: gilroy_c, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  color: #fff;
}
.nav__cart-text::after {
  display: block;
  content: "";
  right: -20px;
  top: -10px;
  height: 38px;
  position: absolute;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.nav__cart-count {
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #403C3B;
}

.menu {
  margin-top: 29px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  cursor: pointer;
}
.menu__link {
  font-family: gilroy_c, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #cfcfcf;
  cursor: pointer;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #A6A7AB;
}
.menu__link:active {
  position: relative;
  top: 1px;
}
.menu__link-active {
  color: #618967;
  position: relative;
  cursor: pointer;
}
.menu__link-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #618967;
  box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
  position: absolute;
  bottom: -30px;
}

.dishes {
  margin-top: 50px;
}
.dishes__title {
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding-left: 19px;
}
.dishes__title::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #618967;
  left: 0;
  position: absolute;
}
.dishes__content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.dishes__box {
  grid-column: span 4;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
}
.dishes__box-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.dishes__box-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 16px;
}
.dishes__box-text {
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.dishes__box-weight {
  margin-top: 15px;
  padding-left: 20px;
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.dishes__box-disc {
  padding-left: 20px;
  padding-right: 16px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #cfcfcf;
}
.dishes__box-check {
  margin-top: 35px;
  display: flex;
  padding-left: 20px;
  padding-right: 16px;
  padding-bottom: 18px;
  justify-content: space-between;
  align-items: center;
}
.dishes__box-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.dishes__box-price::after {
  content: " ₽";
}
.dishes__box-checkout {
  width: 137px;
  height: 44px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border: 0;
  outline: none;
  border-radius: 10px;
  font-family: gilroy_c, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: box-shadow 0.3s;
}
.dishes__box-checkout:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.dishes__box-checkout:active {
  position: relative;
  top: 1px;
}
.dishes__box-btn {
  display: flex;
}
.dishes__box-btn_hide {
  display: none;
}
.dishes_hidden {
  display: none;
}

.about {
  margin-top: 93px;
  background-image: url(../img/cafe_back.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__content-left {
  max-width: 560px;
}
.about__content-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}
.about__content-text {
  margin-top: 31px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.about__content-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 223px;
  height: 59px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  transition: background 0.3s;
}
.about__content-btn:hover {
  background: #504B4A;
}
.about__content-btn:active {
  position: relative;
  top: 1px;
}
.about__content-right {
  margin-top: 71px;
  margin-bottom: 71px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
}
.about__content-box {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 228px;
  background: rgba(80, 75, 74, 0.9);
}

.contacts {
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts__box {
  max-width: 526px;
  background-color: #2E2B2C;
  border-radius: 15px;
  padding-left: 43px;
  padding-right: 43px;
}
.contacts__title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(80, 75, 74, 0.9);
}
.contacts__address {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.contacts__address-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #cfcfcf;
}
.contacts__address-info span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.contacts__mail {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(80, 75, 74, 0.9);
}
.contacts__mail-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #cfcfcf;
}
.contacts__mail-info span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.contacts__book {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__book-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}
.contacts__book-text span {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #CFCFCF;
}
.contacts__booking {
  width: 211px;
  height: 59px;
  border-radius: 10px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border: none;
  outline: none;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  transition: box-shadow 0.3s;
}
.contacts__booking:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.contacts__booking:active {
  position: relative;
  top: 1px;
}
.contacts__socials {
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.contacts__socials-icons {
  margin-left: 26px;
  display: flex;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  -moz-column-gap: 86px;
       column-gap: 86px;
  background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
}
.footer__left {
  margin-top: 26px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.footer__left-text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #cfcfcf;
}
.footer__left-links {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: underline;
}
.footer__right-list {
  display: flex;
  gap: 60px;
}
.footer__right-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.suggestions-suggestions {
  color: #fff;
  background: #504B4A;
  border: 0;
  padding: 15px 48px;
  border-radius: 0px 0px 10px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.suggestions-suggestions strong {
  font-weight: 400;
  color: #618967;
}

.suggestions-suggestion:hover {
  background: transparent;
  color: #618967;
}

.suggestions-selected {
  background: transparent;
  color: #618967;
}

.suggestions-selected:hover {
  background: transparent;
  color: #618967;
}

.modal__card {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal__card-close path {
  transition: fill 0.3s;
  pointer-events: none;
}
.modal__card-close:hover path {
  fill: #c92424;
}
.modal__card_open {
  visibility: visible;
  opacity: 1;
}
.modal__card-outline {
  width: 1101px;
  height: 527px;
  background: #2E2B2C;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal__card-outline-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.modal__card-img {
  border-radius: 15px 0 0 15px;
}
.modal__card-box {
  width: 1024px;
  height: 450px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid #403C3B;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  box-shadow: 15px 4px 18px 17px rgba(120, 201, 140, 0.2);
}
.modal__card-title {
  margin-top: 38px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.modal__card-text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #cfcfcf;
}
.modal__card-weight {
  margin-top: 113px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.modal__card-check {
  margin-top: 22px;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.modal__card-btn {
  width: 145px;
  height: 50px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  outline: none;
  border: none;
  border-radius: 15px;
  font-family: gilroy_c, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
}
.modal__card-price {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.modal__card-price::after {
  content: " ₽";
}
.modal__card-nutrients {
  margin-top: 30px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.modal__card-values {
  margin-top: 5px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.cart {
  position: relative;
  overflow-x: hidden;
}
.cart__list {
  overflow: hidden;
}
.cart__list_anim {
  animation: slideCart 0.5s ease 0s 1 normal forwards;
}
.cart__list_anim-reverse {
  animation: slideCartReverse 0.5s ease 0s 1 normal forwards;
}
.cart__checkout {
  overflow: hidden;
  display: none;
  margin-bottom: 90px;
}
.cart__checkout_anim {
  animation: slideCheckout 0.5s ease 0s 1 normal forwards;
}
.cart__checkout_anim-reverse {
  animation: slideCheckoutReverse 0.5s ease 0s 1 normal forwards;
}
.cart__checkout-section {
  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  max-width: 800px;
  padding: 30px;
}
.cart__checkout-section-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
.cart__checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 51px;
  background: transparent;
  outline: none;
  border: 0;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.cart__checkout-button:active {
  position: relative;
  top: 1px;
}
.cart__checkout-button_active {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}
.cart__checkout-button-complete {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
}
.cart__checkout-button-complete:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.cart__checkout-row {
  display: flex;
  align-items: center;
}
.cart__checkout-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.cart__checkout-form {
  width: 360px;
  height: 51px;
  background: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.5px;
  color: #fff;
  padding: 20px 30px;
}
.cart__checkout-form::-moz-placeholder {
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.5px;
  color: #fff;
}
.cart__checkout-form::placeholder {
  font-family: gilroy_c, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.5px;
  color: #fff;
}
.cart__checkout-form_street {
  width: 413px;
}
.cart__checkout-form_house {
  width: 173px;
}
.cart__checkout-form_room {
  width: 225px;
}
.cart__checkout-form_entrance {
  width: 173px;
}
.cart__checkout-form_floor {
  width: 173px;
}
.cart__checkout-form_comment {
  width: 601px;
}
.cart__checkout-form_time {
  margin-left: 15px;
  width: 185px;
}
.cart__checkout-form_change {
  width: 173px;
}
.cart__checkout-forms {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.cart__checkout-forms_anim {
  animation: formOpen 0.5s ease 0s 1 normal forwards;
}
.cart__checkout-forms_anim-reverse {
  animation: formOpenReverse 0.5s ease 0s 1 normal forwards;
}
.cart__checkout-forms-btn {
  display: flex;
  flex-direction: column;
}
.cart__checkout-forms-radio {
  display: flex;
}
.cart__checkout-forms-radio-dot {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 10px;
  outline: 3px solid #618967;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.cart__checkout-forms-radio-dot_active::before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background: #618967;
  border-radius: 10px;
}
.cart__checkout-forms-radio-text {
  margin-left: 10px;
}
.cart__checkout-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  border: 1px solid #72A479;
  border-radius: 10px;
  overflow: hidden;
}
.cart__checkout-buttons-delivery {
  width: 363px;
}
.cart__checkout-buttons-pay {
  width: 551px;
}
.cart__checkout-buttons-where {
  width: 363px;
}
.cart__checkout-person-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.56px;
}
.cart__nav {
  display: block;
  margin-top: 34px;
  margin-left: 158px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.cart__nav::before {
  padding-right: 10px;
  content: "<";
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cart__title {
  margin-top: 20px;
  margin-left: 158px;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding-left: 19px;
}
.cart__title::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #618967;
  left: 0;
  position: absolute;
}
.cart__content {
  margin: 0 auto;
  margin-top: 71px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  max-width: 76vw;
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.cart__empty {
  margin: 55px 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__empty-title {
  margin-top: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.cart__empty-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 43px;
  width: 188px;
  height: 51px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  outline: none;
  border: 0;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: box-shadow 0.3s;
}
.cart__empty-btn:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.cart__empty-btn:active {
  position: relative;
  top: 1px;
}
.cart__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cart__box:not(:last-child)::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: rgba(80, 75, 74, 0.9);
  position: absolute;
  bottom: -20px;
}
.cart__box-img {
  max-width: 150px;
}
.cart__box-info {
  max-width: 265px;
}
.cart__box-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
}
.cart__box-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #A6A7AB;
}
.cart__box-counter {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.cart__box-counter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  outline: none;
  border: none;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 15px;
  transition: box-shadow 0.3s;
}
.cart__box-counter-item:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.cart__box-counter-item:active {
  position: relative;
  top: 1px;
}
.cart__box-counter-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.cart__box-total {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  min-width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__box-total::after {
  content: " ₽";
}
.cart__box-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  outline: none;
  border: none;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 15px;
  transform: rotate(45deg);
  transition: box-shadow 0.3s;
}
.cart__box-close:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.cart__box-close:active {
  position: relative;
  top: 1px;
}

.total {
  margin: 0 auto;
  margin-top: 79px;
  margin-bottom: 89px;
  max-width: 53vw;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  padding: 20px 27px 11px 38px;
}
.total__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total__left-amount {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #A6A7AB;
}
.total__left-amount_sum {
  padding-left: 5px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}
.total__left-amount_sum::after {
  content: " ₽";
}
.total__left-delivery {
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.total__left-delivery_sum {
  padding-left: 5px;
  color: #618967;
}
.total__left-delivery_sum::after {
  content: " ₽";
}
.total__left-minimum {
  margin-top: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.total__right {
  display: block;
  width: 209px;
  height: 51px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: box-shadow 0.3s;
}
.total__right:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.total__right:active {
  position: relative;
  top: 1px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 31, 32, 0.9);
}
.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 11px 12px 28px 4px rgba(86, 211, 103, 0.27);
  border-radius: 15px;
}
.modal-box {
  width: 45vw;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  padding: 30px 0;
  border-radius: 15px;
}
.modal-box-heading {
  margin: 20px auto;
  max-width: 40vw;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding-left: 20px;
}
.modal-box-heading::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  left: 0;
  background-color: #618967;
  position: absolute;
}
.modal-box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  background: #2E2B2C;
  margin: 30px auto;
  border-radius: 15px;
  padding: 15px 15px 30px 15px;
}
.modal-box__content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.modal-box__content-box {
  margin-top: 20px;
  display: grid;
  -moz-column-gap: 45px;
       column-gap: 45px;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}
.modal-box__content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 3;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.modal-box__content-item_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.modal-box__content-item_count {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.modal-box__content-item_price {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.modal-box__content-item_price::after {
  content: " ₽";
}
.modal-box__content-item_total {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.modal-box__content-item_total::after {
  content: " ₽";
}
.modal-box__total {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.modal-box__total-price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.modal-box__total-price::after {
  content: " ₽";
}
.modal-box__total-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 51px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: gilroy_c, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: box-shadow 0.3s;
}
.modal-box__total-home:hover {
  box-shadow: -1px 1px 8px 5px rgba(103, 154, 111, 0.37);
}
.modal-box__total-home:active {
  position: relative;
  top: 1px;
}

@media (max-width: 1300px) {
  .center {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
  }
}
@media (max-width: 1110px) {
  .center {
    padding-left: calc(50% - 455px);
    padding-right: calc(50% - 455px);
  }
}/*# sourceMappingURL=style.css.map */