@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: $fontFamily;
    color: $colorWhite;
    overflow: auto ;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(360deg, #211F20 0%, #44403F 100%) ;
}

.main {
    flex-grow: 1;
}

button {
    cursor: pointer;
}

.center {
    padding-left: calc(50% - 636px);
    padding-right: calc(50% - 636px);
}

.header {

    &__swiper {
        margin-top: 24px;
        height: 484px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 75%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(90deg, rgba(33, 31, 32, 1) 0%, rgba(33, 31, 32, 0.7) 50%, rgba(68, 64, 63, 0) 100%);
            z-index: 1;

        }

        &-heading {
            position: absolute;
            z-index: 2;
            max-width: 613px;
            top: 25%;
            left: 94px;
            transform: rotate(-8.37deg);

        }

        &-title {
            font-weight: 800;
            font-size: 45px;
            line-height: 40px;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            &_shadow {
                font-size: 45px;
                color:transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
                position: absolute;
                top: 5px;
                left: -6px;
            }

        }

        &-question {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-text {
            display: flex;
            justify-content: center;
            align-items: center ;
            text-align: center;
            font-weight: 700;
            font-size: 25px;
            line-height: 27px;
            position: relative;
            max-width: 280px;
            margin: 33px auto 0;
            &::before {
                display: block;
                content: '';
                width: 280px;
                height: 35px;
                background: $greenGradient ;
                position: absolute;
                top: -2px;
                z-index: -1;
                transform: skew(-12deg);        
            }
        }

        &-slide {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }



    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 23px;
    
    &__search {
        position: relative;

        &-point {
            position: absolute;
            left: 18px;
            top: 16px;
        }

        &-search {
            position: absolute;
            right: 18px;
            top: 16px;
        }

        &-input {
            width: 555px;
            height: 52px;
            background-color: $colorLightGray;
            border-style: none;
            outline: none;
            border-radius: 10px;
            padding: 15px 48px;
            font-family: $fontFamily;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $colorWhite;            
            &::placeholder {
                font-family: $fontFamily;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: $colorGrey;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;

        &-img {
            width: 32px;
            height: 32px;
            background: $greenGradient;
            border-radius: 15px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-info {
            margin-left: 10px;
        }

        &-text {
            font-family: $fontFamily;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $colorGrey;
        }

        &-number {
            font-family: $fontFamily;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__cart {
        width: 150px;
        height: 52px;
        background: $greenGradient;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        &-text {
            font-family: $fontFamily;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            position: relative;
            color: $colorWhite;

            &::after {
                display: block;
                content: '';
                right: -20px;
                top: -10px;
                height: 38px;
                position: absolute;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
            }
        }

        &-count {
            font-family: $fontFamily;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: $colorDarkGrey;
        }

        &-wrapper {
            width: 24px;
            height: 24px;
            border-radius: 15px;
            background-color: $colorWhite;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.menu {
    margin-top: 29px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        cursor: pointer;
    }

    &__link {
        font-family: $fontFamily;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: $colorGrey;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &-active {
            color: $colorGreen;
            position: relative;
            cursor: pointer;

            &::after {
                display: block;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $colorGreen;
                box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
                position: absolute;
                bottom: -30px;
            }
        }
    }
}

.dishes {
    margin-top: 50px;

    &__title {
        font-family: $fontFamily;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: $colorWhite;
        position: relative;
        padding-left: 19px;
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            background-color: $colorGreen;
            left: 0;
            position: absolute;
        }
    }

    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    &__box {
        grid-column: span 4;
        background: $greyGradient;
        border-radius: 10px;

        &-img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-left: 20px;
            padding-right: 16px;
        }

        &-text {
            font-family: $fontFamily;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
        }

        &-weight {
            font-family: $fontFamily;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }

        &-disc {
            padding-left: 20px;
            padding-right: 16px;
            margin-top: 5px;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: $colorGrey;
        }

        &-check {
            margin-top: 15px;
            display: flex;
            padding-left: 20px;
            padding-right: 16px;
            padding-bottom: 18px;
            justify-content: space-between;
            align-items: center;
        }

        &-price {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            &::after {
                content: ' \20BD';
            }
        }

        &-checkout {
            width: 137px;
            height: 44px;
            background: $greenGradient;
            border: 0;
            outline: none;
            border-radius: 10px;

            font-family: $fontFamily;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $colorWhite;

            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    &_hidden {
        display: none;
    }
}

.about {
    margin-top: 93px;
    background-image: url(../img/cafe_back.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            max-width: 560px;
        }

        &-title {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            text-transform: uppercase;
        }

        &-text {
            margin-top: 31px;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
        }

        &-btn {
            margin-top: 60px;
            width: 223px;
            height: 59px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;

            font-family: $fontFamily;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: $colorWhite;
        }

        &-right {
            margin-top: 71px;
            margin-bottom: 71px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 15px;
        }

        &-box {
            grid-column: span 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 228px;
            height: 228px;
            background: $transparentGrey;
        }
    }
}

.contacts {
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__box {
        max-width: 526px;
        background-color: $colorBlackGrey;
        border-radius: 15px;
        padding-left: 43px;
        padding-right: 43px;
    }

    &__title {
        padding-top: 20px;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        padding-bottom: 25px;

        border-bottom: 1px solid $transparentGrey;
    }

    &__address {
        margin-top: 15px;
        display: flex;
        align-items: flex-start;
        column-gap: 15px;

        &-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $colorGrey;
        }
        &-info span {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }

    }

    &__mail {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        column-gap: 15px;
        padding-bottom: 28px;

        border-bottom: 1px solid $transparentGrey;

        &-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $colorGrey;
        }
        &-info span {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }

    }

    &__book {
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        &-text {
            font-weight: 700;
            font-size: 23px;
            line-height: 28px;
        }

        &-text span {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #CFCFCF;
        }
    }

    &__booking {
        width: 211px;
        height: 59px;
        border-radius: 10px;
        background: $greenGradient;
        border: none;
        outline: none;

        font-family: $fontFamily;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: $colorWhite;
    }

    &__socials {
        margin-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;

        &-text {

        }

        &-icons {
            margin-left: 26px;
            display: flex;
            gap: 10px;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    column-gap: 86px;
    background: $footerBack;

    &__left {
        margin-top: 26px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;

        &-text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: $colorGrey;
        }

        &-links {
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $colorWhite;
            text-decoration: underline;
        }
    }

    &__right {

        &-list {
            display: flex;
            gap: 60px;
        }

        &-link {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $colorWhite;
        }
        
    }
}

@import 'product_card';
@import 'cart';
@import 'base-responsive';